/* ---- extracted from theme XML <style> ---- */
.Profile, .ContactForm, .BlogArchive, .PopularPosts, .FeaturedPost, .Label, .HTML, .Text, .LinkList,
.widget, .widget-content, .comment-content, .comment-header, .comment-thread, input, textarea, select, button {
  font-family: &#39;Tiro Bangla&#39;, serif !important;
}


/* ---- extracted from theme XML <style> ---- */
body{margin:0;padding:0;background:#f6f6f6;}
.headerHero1{min-height:60px;background:#0f172a;}
.MenuNewsLogo img{height:85px;width:auto;}
.featured-post-pro{min-height:400px;background:#eee;}


/* ---- extracted from theme XML <style> ---- */
.post-body a.b-tooltip-container {
position: relative;
display: inline-block;
}
.post-body a.b-tooltip-container .b-tooltip {
display: block !important;
position: absolute;
top: 100%;
left: 50%;
transform: translate(-20%, 1px);
visibility: hidden;
opacity: 0;
z-index: 1;
transition: opacity 0.2s ease-in-out;
}
.post-body a.b-tooltip-container .b-tooltip iframe {
width: 200px;
height: 198px;
max-width: none;
border: none;
border-radius: 20px;
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
@media (hover: hover) {
.post-body a.b-tooltip-container:hover .b-tooltip {
visibility: visible;
opacity: 1;
}
}


/* ---- extracted from theme XML <style> ---- */
.theiaStickySidebar:after {content: ""; display: table; clear: both;}


/* ---- extracted from theme XML <style> ---- */
.item-view #feed-view{float:right}.item-view #sidebar-container{float:left}


/* ---- extracted from theme XML <style> ---- */
.item-view #feed-view{float:left}.item-view #sidebar-container{float:right}


/* ---- extracted from theme XML <style> ---- */
.item-view #feed-view{width:100%}.item-view #sidebar-container{display:none}
